* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
 
body {
	background: #868BAF;
	font-family: 'Syne Mono', monospace;
	font-size: 16px;
	padding: 1.5em;

}
 
.wrap {
	margin: auto;
	max-width: 800px;
	width: 90%;
}

.principal {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
 
.principal {
	background: #8587AD;
	border-top: 20px solid #8485AC;
	color: #fff;
	padding: 50px 0;
	width: 100%;
}
 
.principal .formulario {
	color: #212121;
	text-align: center;
}
 
.principal .formulario input[type=text] {
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
	border-radius: 5px;

}
 
.principal .formulario input[type=text].error {
	border: 5px solid red;
	color: red;
}
 
.principal .formulario .boton {
	background: none;
	border: 1px solid white;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	padding: 15px;
	border-radius: 10px;
}
 
.principal .formulario .boton:hover {
	border: 1px solid #fff;
}

.padreMedio {
	width: 100%;

}

/* - Columnas - */


.columna {
	background-color: rgb(221, 221, 221);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	height: 700px;
}
.columna {
	margin: 1em;
	border-radius: 10px;
	color: black;
}

 
/* - Tareas - */
.tareas {
	border-bottom: 5px solid;

}
.tareas .lista {
	list-style: none;
}
 
.tareas .lista li {
	border-bottom: 1px solid #B6B6B6;
}
 
.tareas .lista li a {
	color: #212121;
	display: block;
	padding: 20px 0;
	text-decoration: none;
}
 
.tareas .lista li a:hover {
	text-decoration: line-through;
}