<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://necolas.github.io/normalize.css/3.0.2/normalize.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
	<title>Lista de Tareas</title>
</head>
<body>
	<div class="principal">
		<div class="columnaIzq">
			<form class="formIzq columna" action="">
				<ul>
					<li>
						izquierda
					</li>
				</ul>
			</form>
		</div>
		<div class="padreMedio">

			<div class="wrap">
				<form class="formulario" action="">
					<input type="text" id="tareaInput" placeholder="Agrega tu tarea">
					<input type="button" class="boton" id="btn-agregar" value="Agregar Tarea">
				</form>
			</div>

			<div class="tareas">
				<div class="wrap">
					<ul class="lista" id="lista">
						<li><a href="#">1 Lorem ipsum dolor sit amet.</a></li>
						<li><a href="#">2 Lorem ipsum dolor sit amet.</a></li>
						<li><a href="#">3 Lorem ipsum dolor sit amet.</a></li>
					</ul>
				</div>
			</div>
		</div>

		
		<div class="columnaDer">
			<form class="formDer columna" action="">
				<ul>
					<li>
						Derecha
					</li>
				</ul>
			</form>
		</div>
		
	</div>
 
	<script src="js/script.js"></script>
</body>
</html>